# IGNORED FILES #
#################
tmp/
all/app/public/static/js/templates.js
all/app/public/static/js/application.js
all/app/public/static/js/libraries.js

# Database #
############
*.sqlite

# JSON #
########
all/*.json

# OS files #
############
.DS_Store
.DS_Store?
Thumbs.db

# IDE files #
#############
.settings
.buildpath
.project
*.esproj
*.sublime*
.git

# Node files #
##############
lib-cov
*.seed
*.log
*.csv
*.dat
*.out
*.pid
*.gz

npm-debug.log